<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sgv-test.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sgv-test.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>sgv-test</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$sgv-test</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SGV_DEVConnectionString2" Order="1" Enabled="False">
          <Destination Path="Data Source=athena-sgv.database.windows.net;Initial Catalog=SGV_DEV;Persist Security Info=True;User ID=marcelo.ribeiro;Password=73System#" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=athena-sgv.database.windows.net;Initial Catalog=SGV_DEV;Persist Security Info=True;User ID=marcelo.ribeiro;Password=73System#" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SGV_DEVConnectionString2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=athena-sgv.database.windows.net;Initial Catalog=SGV_DEV;Persist Security Info=True;User ID=marcelo.ribeiro;Password=73System#" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SGV_DEVConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=athena-sgv.database.windows.net;Initial Catalog=SGV_DEV;Persist Security Info=True;User ID=marcelo.ribeiro;Password=73System#" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;Initial Catalog=SGV_DEV;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SGV_DEVConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.;Initial Catalog=SGV_DEV;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="SGV_DEVConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=athena-sgv.database.windows.net;Initial Catalog=SGV_DEV;Persist Security Info=True;User ID=marcelo.ribeiro;Password=73System#</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SGV_DEVConnectionString2-Web.config Connection String">
      <ParameterValue>Data Source=athena-sgv.database.windows.net;Initial Catalog=SGV_DEV;Persist Security Info=True;User ID=marcelo.ribeiro;Password=73System#</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>